<main class='main'>
  <div class='main__content'>
    <h1 class='title title--center'>Створити</h1>
    <ul class='chose'>
      <a href='/spoty-create'>
        <li class='chose__item'>
          <img
            src='/svg/chose__1.svg'
            class='chose__image'
          />
          <div class='chose__content'>
            <strong class='title'>Плейліст</strong>
            <p class='chose__text'>Створіть плейліст із
              піснями чи епізодами</p>
          </div>
        </li>
      </a>
      <a href='/spoty-create?isMix=true'>
        <li class='chose__item'>
          <img
            src='/svg/chose__2.svg'
            class='chose__image'
          />
          <div class='chose__content'>
            <strong class='title'>Мікс</strong>
            <p class='chose__text'>Комбінуйте смаки в
              спільному плейлісті з друзями</p>
          </div>
        </li>
      </a>
    </ul>
  </div>
</main>