<main>
  <section>
    <div class='form'>
      <form class='form__content'>
        <div>
          <h1 class='form__title'>Успішне виконання дії</h1>
          <div>{{info}}</div>
        </div>
        <div><a
            href='/product-list'
            class='form__button'
          >Повернутися назад</a></div>

      </form>
    </div>

  </section>

</main>