@use '../../lib/service.scss' as s;

.form {
  display: flex;
  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);
  border: 1px solid s.color('light');
  border-radius: 20px;
  box-shadow: 8px 0px 5px 2px s.color('light');
  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(3);
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: s.space(6);
  }
  &__button {
    display: flex;
    justify-content: center;
    border: 1px solid s.color('light');
    background-color: rgb(17, 79, 234);
    color: white;
    padding: s.space(2);
    border-radius: 2px;
    text-decoration: none;
  }
}
main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}
