<main>
  <section>
    <div class='form'>
      {{#with data}}
        <form
          method='post'
          action='/purchase-update?id={{id}}'
        >
          <h1 class='title'>Зміна даних</h1>
          <div class='form__content'>
            <div class="form__item">
            {{>field label='ID:' name='id' value=id}}
            
            </div>
            {{>divider}}
            <div class="form__item">
            {{>field label='Ім`я' name='firstname' value=firstname}}
            {{>field label='Прізвище' name='lastname' value=lastname}}
            {{>field label='Телефон' name='phone' value=phone}}
            {{>field label='Електрона пощта' name='email' value=email}}
            
            </div>
            {{>divider}}
            
            {{>button text='Зберегти дані'}}

          </div>

        </form>
      {{/with}}
    </div>

  </section>

</main>