@use '../../lib/service.scss' as s;
main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}
.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: blue;
  padding-bottom: s.space(8);
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: s.space(3);
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: s.space(4);
  gap: s.space(8);
  border: 1px solid s.color('light');
  border-radius: 20px;
  box-shadow: 8px 0px 5px 2px s.color('light');
  &__title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: s.space(3);
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__description {
    font-size: 18px;
    padding-bottom: s.space(3);
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__id {
    font-size: 18px;
    padding-bottom: s.space(3);
    color: rgb(65, 63, 63);
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__price {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: s.space(3);
  }
  &__edit {
    text-decoration: none;
  }
}
