<main class='main'>
  {{#with data}}
    <div class='main__content'>
      <h1 class='title title--center'>Пошук плейлістів</h1>
      <form
        action='/spoty-search'
        method='post'
        class='search'
      >
        <img src='svg/spoty_search.svg' />
        <input
          type='search'
          class='search__input'
          placeholder='Введіть запит'
          name='value'
        />
        <button class='search__button'>Пошук</button>
      </form>
      <ul class='plylist__list'>
        {{#each list}}
          <li class='playlist'>
            <img
              src='{{image}}'
              alt='{{name}}'
              height='100px'
            />
            <div class='playlist__content'>
              <strong
                class='playlist__name'
              >{{name}}</strong>
              <span class='playlist__amount'>Кількість
                пісень:
                {{amount}}</span>
            </div>

          </li>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</main>